<a href="https://colab.research.google.com/github/Dhanasree-Rajamani/Deep_Learning_Assignments/blob/main/Deep%20Learning%20Assignment%201b/GPT_3_Fine_tuningipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Airline Travel Information System**

* The ATIS dataset is a standard benchmark dataset widely used as an intent classification. ATIS Stands for Airline Travel Information System. Intent classification is an important component of Natural Language Understanding (NLU) systems in any chatbot platform.

* ATIS dataset provides large number of messages and their associated intents that can be used in training a classifier. Within a chatbot, intent refers to the goal the customer has in mind when typing in a question or comment. While entity refers to the modifier the customer uses to describe their issue, the intent is what they really mean. For example, a user says, ‘I need new shoes.’ The intent behind the message is to browse the footwear on offer. Understanding the intent of the customer is key to implementing a successful chatbot experience for end-user.

In [ ]:
!pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.26.4.tar.gz (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.6/55.6 KB 1.4 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from openai) (4.64.1)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.8/dist-packages (from openai) (2.25.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.8/dist-packages (from openai) (3.8.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (22.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.3.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (1.8.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->openai) (2.1.1)
Building wheels for collected packages: openai
  Building wheel for openai (pyproject.toml) ... done
  Created wheel for openai: filename=openai-0.26.4-py3-none-any.whl size=67744 sha256=b6bcfa535a3cedb87b9a56e59a0e285b26bed93e526af7dc89c657cbf152142f
  Stored in directory: /root/.cache/pip/wheels/2b/d8/4e/268f029bd3277c1dd9e8781a0e0296e0a63822665bfa2429fc
Successfully built openai
Installing collected packages: openai
Successfully installed openai-0.26.4

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(0)

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/SravaniThota96/GPT-3_Experiments/main/atis_intents.csv",header=None)
data.head()

                  0                                                  1
0       atis_flight   i want to fly from boston at 838 am and arriv...
1       atis_flight   what flights are available from pittsburgh to...
2  atis_flight_time   what is the arrival time in san francisco for...
3      atis_airfare            cheapest airfare from tacoma to orlando
4      atis_airfare   round trip fares from pittsburgh to philadelp...

* Clean the data and make it intelligible format.

* Name the Columns to text and intent

In [ ]:
data.columns = ['intent','text']

In [ ]:
data['intent'].unique()

array(['atis_flight', 'atis_flight_time', 'atis_airfare', 'atis_aircraft',
       'atis_ground_service', 'atis_airport', 'atis_airline',
       'atis_distance', 'atis_abbreviation', 'atis_ground_fare',
       'atis_quantity', 'atis_city', 'atis_flight_no', 'atis_capacity',
       'atis_flight#atis_airfare', 'atis_meal', 'atis_restriction',
       'atis_airline#atis_flight_no',
       'atis_ground_service#atis_ground_fare',
       'atis_airfare#atis_flight_time', 'atis_cheapest',
       'atis_aircraft#atis_flight#atis_flight_no'], dtype=object)

intent column has special character '#'. So need to replace it with '_'.

In [ ]:
data['intent'].nunique()

22

In [ ]:
data['intent'] = data['intent'].str.replace('#','_')
data['intent'].unique()

array(['atis_flight', 'atis_flight_time', 'atis_airfare', 'atis_aircraft',
       'atis_ground_service', 'atis_airport', 'atis_airline',
       'atis_distance', 'atis_abbreviation', 'atis_ground_fare',
       'atis_quantity', 'atis_city', 'atis_flight_no', 'atis_capacity',
       'atis_flight_atis_airfare', 'atis_meal', 'atis_restriction',
       'atis_airline_atis_flight_no',
       'atis_ground_service_atis_ground_fare',
       'atis_airfare_atis_flight_time', 'atis_cheapest',
       'atis_aircraft_atis_flight_atis_flight_no'], dtype=object)

In [ ]:
data['intent'] = data['intent'].str.replace('atis_','')
data['intent'].unique()

array(['flight', 'flight_time', 'airfare', 'aircraft', 'ground_service',
       'airport', 'airline', 'distance', 'abbreviation', 'ground_fare',
       'quantity', 'city', 'flight_no', 'capacity', 'flight_airfare',
       'meal', 'restriction', 'airline_flight_no',
       'ground_service_ground_fare', 'airfare_flight_time', 'cheapest',
       'aircraft_flight_flight_no'], dtype=object)

In [ ]:
data['intent'].value_counts()

flight                        3666
airfare                        423
ground_service                 255
airline                        157
abbreviation                   147
aircraft                        81
flight_time                     54
quantity                        51
flight_airfare                  21
airport                         20
distance                        20
city                            19
ground_fare                     18
capacity                        16
flight_no                       12
meal                             6
restriction                      6
airline_flight_no                2
ground_service_ground_fare       1
airfare_flight_time              1
cheapest                         1
aircraft_flight_flight_no        1
Name: intent, dtype: int64

In [ ]:
sample_data = data.groupby('intent').apply(lambda x: x.sample(n=40, replace=True)).reset_index(drop = True)
sample_data
#sample_data.intent.value_counts()

           intent                                               text
0    abbreviation                                         what is hp
1    abbreviation                                            code ff
2    abbreviation                                 what does ewr mean
3    abbreviation                            does dl stand for delta
4    abbreviation                                         what is hp
..            ...                                                ...
875   restriction                            what's restriction ap68
876   restriction   what are the restrictions on the cheapest one...
877   restriction                            what's restriction ap68
878   restriction   what are the air restrictions on flights from...
879   restriction                           what is restriction ap57

[880 rows x 2 columns]

* Save the pre-processed data to csv.

In [ ]:
sample_data.to_csv("sample_data.csv",index=False)

In [ ]:
sample_data = sample_data[['text','intent']]

In [ ]:
sample_data.head()

                       text        intent
0                what is hp  abbreviation
1                   code ff  abbreviation
2        what does ewr mean  abbreviation
3   does dl stand for delta  abbreviation
4                what is hp  abbreviation

In [ ]:
sample_data['text'] = sample_data['text'].str.strip()
sample_data['intent'] = sample_data['intent'].str.strip()

In [ ]:
sample_data['text'] = sample_data['text'] + "\n\nIntent:\n\n"
# sample_data['text'] = "Classify text into on the intent: flight, ground_service, airline, aircraft, flight_time. Text: "+sample_data['text'] + "\n\nIntent:\n\n"
sample_data['intent'] = " "+sample_data['intent'] + " END"
sample_data.head()

                                     text             intent
0               what is hp\n\nIntent:\n\n   abbreviation END
1                  code ff\n\nIntent:\n\n   abbreviation END
2       what does ewr mean\n\nIntent:\n\n   abbreviation END
3  does dl stand for delta\n\nIntent:\n\n   abbreviation END
4               what is hp\n\nIntent:\n\n   abbreviation END

In [ ]:
print(sample_data['text'][0])

what is hp

Intent:

In [ ]:
print(sample_data['intent'][0])

 abbreviation END

In [ ]:
sample_data.columns = ['prompt','completion']

In [ ]:
sample_data.to_json("intent_sample.jsonl", orient='records', lines=True)

#Fine-Tuning

In [ ]:
!openai tools fine_tunes.prepare_data -f intent_sample.jsonl

Analyzing...

- Your file contains 880 prompt-completion pairs
- Based on your data it seems like you're trying to fine-tune a model for classification
- For classification, we recommend you try one of the faster and cheaper models, such as `ada`
- For classification, you can estimate the expected model performance by keeping a held out dataset, which is not used for training
- There are 489 duplicated prompt-completion sets. These are rows: [4, 13, 16, 28, 34, 36, 37, 38, 49, 59, 66, 72, 74, 76, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 146, 159, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 206, 214, 221, 226, 228, 229, 232, 237, 241, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 286, 287, 288, 290, 291, 295, 298, 299, 300, 302, 303, 304, 305, 307, 308, 310, 311, 312, 313, 314, 315, 316, 317, 318, 322, 330, 332, 333, 334, 336, 338, 339, 340, 341, 342, 343, 344, 345, 346, 348, 350, 351, 353, 354, 355, 356, 357, 358, 359, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 406, 407, 408, 409, 410, 411, 413, 417, 418, 419, 420, 421, 423, 425, 427, 429, 430, 433, 435, 436, 437, 438, 439, 444, 451, 452, 455, 456, 460, 461, 463, 464, 465, 466, 467, 468, 470, 471, 472, 473, 475, 476, 477, 478, 479, 522, 524, 525, 530, 531, 532, 533, 535, 536, 538, 539, 540, 541, 542, 543, 545, 546, 547, 548, 550, 552, 553, 555, 557, 558, 559, 566, 568, 570, 571, 574, 575, 576, 577, 578, 579, 580, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 606, 608, 613, 617, 619, 621, 622, 625, 628, 634, 635, 637, 638, 639, 647, 651, 653, 655, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 703, 711, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 762, 765, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 806, 815, 817, 819, 823, 824, 826, 827, 828, 831, 832, 836, 839, 843, 844, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879]
- All prompts end with suffix `\n\nIntent:\n\n`. This suffix seems very long. Consider replacing with a shorter suffix, such as `\n\n###\n\n`

Based on the analysis we will perform the following actions:
- [Recommended] Remove 489 duplicate rows [Y/n]: Y
- [Recommended] Would you like to split into training and validation set? [Y/n]: Y


Your data will be written to a new JSONL file. Proceed [Y/n]: Y

Wrote modified files to `intent_sample_prepared_train.jsonl` and `intent_sample_prepared_valid.jsonl`
Feel free to take a look!

Now use that file when fine-tuning:
> openai api fine_tunes.create -t "intent_sample_prepared_train.jsonl" -v "intent_sample_prepared_valid.jsonl" --compute_classification_metrics --classification_n_classes 22

After you’ve fine-tuned a model, remember that your prompt has to end with the indicator string `\n\nIntent:\n\n` for the model to start generating completions, rather than continuing with the prompt. Make sure to include `stop=[" END"]` so that the generated texts ends at the expected place.
Once your model starts training, it'll approximately take 11.72 minutes to train a `curie` model, and less for `ada` and `babbage`. Queue will approximately take half an hour per job ahead of you.

In [ ]:
import os
os.environ['OPENAI_API_KEY'] = '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'

In [ ]:
!openai api fine_tunes.create -t "intent_sample_prepared_train.jsonl" -v "intent_sample_prepared_valid.jsonl" -m 'davinci'

Upload progress: 100% 37.7k/37.7k [00:00<00:00, 49.3Mit/s]
Uploaded file from intent_sample_prepared_train.jsonl: file-TZSziUtaCbOZ4HeOdstC4uhR
Upload progress: 100% 9.25k/9.25k [00:00<00:00, 14.5Mit/s]
Uploaded file from intent_sample_prepared_valid.jsonl: file-21IubqqNwdz3GD7gEOWl24Nu
Created fine-tune: ft-3zDgCOReKmoj4UOn0bhYIsCC
Streaming events until fine-tuning is complete...

(Ctrl-C will interrupt the stream, but not cancel the fine-tune)
[2023-02-01 19:42:39] Created fine-tune: ft-3zDgCOReKmoj4UOn0bhYIsCC
[2023-02-01 19:44:22] Fine-tune costs $0.83
[2023-02-01 19:44:22] Fine-tune enqueued. Queue number: 1
[2023-02-01 19:44:27] Fine-tune is in the queue. Queue number: 0
[2023-02-01 19:44:47] Fine-tune started
[2023-02-01 19:47:55] Completed epoch 1/4
[2023-02-01 19:49:30] Completed epoch 2/4
[2023-02-01 19:51:04] Completed epoch 3/4
[2023-02-01 19:52:39] Completed epoch 4/4

Stream interrupted. Job is still running.
To resume the stream, run:

  openai api fine_tunes.follow -i ft-3zDgCOReKmoj4UOn0bhYIsCC

To cancel your job, run:

  openai api fine_tunes.cancel -i ft-3zDgCOReKmoj4UOn0bhYIsCC

In [ ]:
!openai api fine_tunes.follow -i ft-3zDgCOReKmoj4UOn0bhYIsCC

[2023-02-01 19:42:39] Created fine-tune: ft-3zDgCOReKmoj4UOn0bhYIsCC
[2023-02-01 19:44:22] Fine-tune costs $0.83
[2023-02-01 19:44:22] Fine-tune enqueued. Queue number: 1
[2023-02-01 19:44:27] Fine-tune is in the queue. Queue number: 0
[2023-02-01 19:44:47] Fine-tune started
[2023-02-01 19:47:55] Completed epoch 1/4
[2023-02-01 19:49:30] Completed epoch 2/4
[2023-02-01 19:51:04] Completed epoch 3/4
[2023-02-01 19:52:39] Completed epoch 4/4
[2023-02-01 19:53:36] Uploaded model: davinci:ft-personal-2023-02-01-19-53-36
[2023-02-01 19:53:37] Uploaded result file: file-9Scr5ZKtxWjPFa2Ojps0TXC1
[2023-02-01 19:53:38] Fine-tune succeeded

Job complete! Status: succeeded 🎉
Try out your fine-tuned model:

openai api completions.create -m davinci:ft-personal-2023-02-01-19-53-36 -p <YOUR_PROMPT>

In [ ]:
prompt = "show me ground transportation in baltimore\n\nIntent:\n\n"
prompt = "What are the timings of flight\n\nIntent:\n\n"

In [ ]:
import openai
openai.api_key = ''
response = openai.Completion.create(
  model="davinci:ft-personal-2023-02-01-19-53-36",
  prompt=prompt,
  max_tokens=5,
  temperature=0,
  top_p=1,
  frequency_penalty=0,
  presence_penalty=0,
  stop=[" END"]
)
print(response['choices'][0]['text'])

 flight_time